

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
	
font-family: sans-serif;
 background-color: #282828;
width: 1450px;
height: auto;
position: absolute;


}


#container {
	width: 1000px;
	height: auto;
	background-color: #4f4d4d;
	margin: 0 auto;
	
	
}

#innercontainer {
	width: 820px;
	height: auto;
	background-color: #cccccc;
	margin: 0 auto;
}



.clearfix {
	
	clear:both;
}

h3 {
	margin-top: 0;
}

h2 {
	margin: 0;
padding: 0;	
}
h1 {
position: relative;
top: 5px;
left: 600px;
margin-top: 0;
margin-bottom: 0;

padding: 0;	
color: black;
font-family: "Bebas";
font-size: 30px;
display: inline;	

}

.topbanner {
	position: relative;
	top:80px;
	left: 228px;
	margin: 0;
	z-index: 7;
}


.social {
	width: 40px;
	height: 40px;
	float: right;
	text-indent: -9999px;
	position:relative;
	right:319px;
	top: -40px;
	z-index: 10;
	background-image:url("../images/facebook2.png");
	background-repeat: no-repeat;
	margin-right: 10px;
	
}

.social1 {
	
	width: 40px;
	height: 40px;
	float: right;
	background-image:url("../images/twitter2.png");
	position: relative;
	background-repeat: no-repeat;
	margin-right: 10px;
	right:330px;
	top: -40px;
	z-index:8;
	
	
	
	
	
}

.social1 li {
	
	text-indent: -9999px;
	
}
/*
.social2 {
	width: 40px;
	text-indent: -9999px;
	position:absolute;
	right:330px;
	top: 100px;
	background-image:url("images/facebook2.png");
	background-repeat: no-repeat;
	z-index: 9;
	
	
}

*/




.navban img {
	
	position: relative;
	left: 0px;
	top: 0px;
	background-repeat: no-repeat;
	z-index: 1;
	display: inline;
	margin: 0 0;
	padding: 0 0;
}

/*-------------begin of nav---------------*/
nav ul {
	position: relative;
	top: 0;
	left: -100px;
	list-style-type: none;
	float: right;
	z-index: 5;
}
nav ul li {
	float: left;
	margin: 0;
	overflow: hidden;
	font-size: 1em;
}
nav ul li a {
	margin: 0;
	display: block;
	text-align: center;
	width: 100px;
	height: 96px;
	line-height: 72px;
	background: url(../images/flag.png) no-repeat 0 0;
	text-decoration: none;
	color: #eee;
	overflow: hidden;
}
nav ul li a:hover {
	background-position-x: -100px;
}

.nb {
	margin-top: -220px;
	padding: 0 0;
	
}
	

  









	/*--------------------nav---------------------*/
	
	

.pics img {
}

 .bottom {
	clear: both;
}

.footer1 {
	position: relative;
	bottom: 150px;
	left: 100px;
	
	width: 200px;
	float: left;
	clear: right;
	font-family: "Bebas" Helvetica, Times;
	font-size: 18px;
	margin: 0 0;
	list-style-type: none;
	text-decoration: none;		
	
}

.footer1 li  {
	
		font-family: "Bebas Neue" Helvetica, Times;
		font-size: 18px;
		margin: 0px;
		text-decoration: none;		
		
}

.footer1  a {
	
	list-style-type: none;
	font-family: "Bebas Neue" Helvetica, Times;
	font-size: 18px;
	margin: 0px;
	color: #c32607;
	text-decoration: none;
}		
	
	
	
.footer1 h3  {
	
	color: #c32607;
	list-style-type: none;
	margin-left: 20px;
	margin-bottom: 0px;
	
}
	
	

hr .1 {
	padding-left: 100px;
}

.footer1 h3 a {
	
	font-family: "Bebas" Helvetica, Times;
	font-size: 25px;
	color: #c32607;
	
}



.footer2   {
	position: relative;
	clear: right;
	width: 200px;
	float: left;
	bottom: 150px;
	left: 200px;
	font-family: "Bebas" Helvetica, Times;
	
	
}

.footer2 li a {
	list-style-type: none;
	text-decoration: none;
}

.footer2  h3 a  {
	
	font-family: "Bebas" Helvetica, Times;
	font-size: 25px;
	color: #c32607;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 20px;
	color:#c32607;
	text-decoration: none;
	list-style-type: none;
	
	
	
}

.footer2 h3 {
	margin-bottom: 0px;
}


.footer2   a {
	font-family: "Bebas Neue" Helvetica, Times;
	font-size: 18px;
	margin-top: 0px;
	color:#c32607;
;
	
	
}

.footer3 {
	position: relative;
	width: 200px;
	float: left;
	clear: right;
	bottom: 150px;
	left: 300px;
	display: block;
	
	
}

.footer3 li a {
	
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	color: #c32607;
text-decoration: none;
list-style-type: none;
font-family: "Bebas Neue" Helvetica, Times;
font-size: 18px;



	
	
}

.footer3 h3 a {
	margin-bottom: 0px;
	display: block;
	margin-left: 25px;
	color: #c32607;
	font-family: "Bebas" Helvetica, Times;
	font-size: 25px;
	text-decoration: none;
	padding: 0 0;
	

}
  
 
 
.footer3 h3 {
	
	margin-bottom: 0px;
}

 



hr {
	
	margin-left: 10px;
	
	margin-top: 0px;
}



footer img {
	position:relative;
	bottom: 0;
	left: 90px;
	clear: left;
	
	margin-bottom: 0;
	padding-bottom: 0;

}

.logo img {
	clear: left;
	position: absolute;
	top: 78px;
	left: 275px;
	z-index: 8;
	background-repeat: no-repeat;
	
	
}
.masonry {
  max-width: 1200px;
  
}

.masonry .item,
.masonry .grid-sizer {
  background: white;
  border: 1px solid white;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-top: 2px;
  float: left;
  margin-right: 0 px;
  
}

.item.w2 { width:  400px; height: 250px;  }
.item.w3 { width: 800px; height: 300px;margin-left: 10px; }
   
.item.w4 { width:  400px;  }

.item.h2 { height: 100px; }
.item.h3 { width: 800px; height: 300px;margin-left: 10px;}

.item.h4 { height: 180px;  }

.item.gigante {
  width: 180px;
  height: 180px;
}

.item:hover {
  background: #A2C;
  border-color: white;
  cursor: pointer;
}

.column1 {
	
	width: 300px;
	float:right;
}

.column1 h2 {
	
	color: #383838;
	font-family: "Bebas" Helvetica, Times;
}
.column1 p {
	
	color: #383838;
	font-family: "Verdana" Helvetica, Times;
	
}

.column1 h3{
	
	color: #383838;
	font-family: "Bebas" Helvetica, Times;
	
	
}

.more a {
	
	color: red;
	float: right;
	width: 100px;
	text-decoration: none;
}

.ribbon {
	position: absolute;
	bottom:855px;
	right: 279px;
	z-index: 9;
}
.ribbon2 {
	position: absolute;
	bottom:1662px;
	right: 269px;
	z-index: 9;
}

.column2  {
	
	float: right;
}

.column3 {
	
	clear:left;
	float: left;
	width: 200px;
	margin-left: 10px;
	
}

.column3 h2 {
	
	color: #383838;
	font-family: "Bebas" Helvetica, Times;
}

.column3 h3 {
	
	color: #383838;
	font-family: "Bebas" Helvetica, Times;
	
}

.column3 p {
	
	color: #383838;
	font-family: "Verdana" Helvetica, Times;
	
}

.newspic {
}


.article1 {
	
	
	border-top: 1px dashed grey;
	border-right: 1px dashed grey;
	border-bottom: 1px dashed grey;
	border-left: 1px dashed grey;
	width: 300px;
	float: left;
	color: black;
	background-color: white;
	margin: 0 0;
	padding: 0 0 ;	
	
	
}
.article1 img {
	
	margin-left: 15px;
}

.article1 h2  {
	
	font-family: "Verdana" Helvetica, Times;
	color: #383838;
	margin-left: 10px;
	
}

.article1 h3 {
	
	font-size: 14px;
	font-family: "Verdana" Helvetica, Times;
	color: #383838;
	margin-left: 10px;
	
	
	
}

.article1 p {
	font-family: "Verdana" Helvetica, Times;
	color: #383838;
	font-size: 14px;
	margin-left: 10px;
	
	
}

.article1  a {
	
	text-decoration: none;
	float: right;
	width: 90px;
	margin-bottom: 5px;
	font-family: "Bebas Neue" Helvetica, Times;
	color: red;
	font-size: 19px;
	
}
/*-------article 1 ends-------------*/
.article2 {
	width: 238px;
	float: left;
	clear: right;
	background-color: red;
	display: block;
	
	border-top: 1px dashed grey;
	border-right: 1px dashed grey;
	border-bottom: 1px dashed grey;
	border-left: 1px dashed grey;
	background-color: white;
	
	
	
	
}

.article2 h2  {
	
	font-family: "Verdana" Helvetica, Times;
	color: #383838;
	margin-left: 10px;
}
	
.article2 h3 {
	
		font-size: 14px;
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px
	}
	
.article2 p {
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		font-size: 14px;
		margin-left: 10px;
	}
	
.article2  a {
	
		text-decoration: none;
		float: right;
		width: 90px;
		margin-bottom: 5px;
		font-family: "Bebas Neue" Helvetica, Times;
		color: red;
		font-size: 19px;
	}
	/*-------article 2 ends-------------*/

.article3 {
	
	width: 282px;
	float: left;
	clear: right;
	background-color: white;
	display: block;
	

}

.article3 img {
	
	margin-left: 15px;
	margin-top: 4px;
}	
	
.article3 h2  {
	
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
	}
	
	.article3 h3 {
	
		font-size: 14px;
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
	
	
	
	}

	.article3 p {
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		font-size: 14px;
		margin-left: 10px;
	
	
	}

	.article3  a {
	
		text-decoration: none;
		float: right;
		width: 90px;
		margin-bottom: 5px;
		font-family: "Bebas Neue" Helvetica, Times;
		color: red;
		font-size: 19px;
	}
	
.article4 {
	clear: left;
	height: 510px;
	
	border-top: 1px dashed grey;
	border-right: 1px dashed grey;
	border-bottom: 1px dashed grey;
	border-left: 1px dashed grey;
	width: 298px;
	float: left;
	color: black;
	background-color: white;
	margin: 0 0;
	padding: 0 0;
	
}


.article4 h2  {
	
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
	}
	
	.article4 h3 {
	
		font-size: 14px;
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
	
	
	
	}

	.article4 p {
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		font-size: 14px;
		margin-left: 10px;
	
	
	}

	.article4  a {
	
		text-decoration: none;
		float: right;
		width: 90px;
		margin-bottom: 5px;
		font-family: "Bebas Neue" Helvetica, Times;
		color: red;
		font-size: 19px;
	}

.article5 {
	height: 510px;
	clear: right;
	border-top: 1px dashed grey;
	border-right: 1px dashed grey;
	border-bottom: 1px dashed grey;
	border-left: 1px dashed grey;
	width: 240px;
	float: left;
	color: black;
	background-color: white;
	padding: 0 0;
	
}

.article5 img {
	margin-left: 13px
	
}


.article5 h2  {
	
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
	}
	
	.article5 h3 {
	
		font-size: 14px;
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
	
	
	
	}

	.article5 p {
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		font-size: 14px;
		margin-left: 10px;
	
	
	}

	.article5  a {
	
		text-decoration: none;
		float: right;
		width: 90px;
		margin-bottom: 5px;
		font-family: "Bebas Neue" Helvetica, Times;
		color: red;
		font-size: 19px;
	}
	

.article6 {
	
	clear: right;
	height: 510px;
	border-top: 1px dashed grey;
	border-right: 1px dashed grey;
	border-bottom: 1px dashed grey;
	border-left: 1px dashed grey;
	width: 280px;
	float: left;
	color: black;
	background-color: white;
	padding: 0 0
	
}

.article6 h2  {
	
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
		margin-top: 70px;
		
	}
	
	.article6 h3 {
	
		font-size: 14px;
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		margin-left: 10px;
	
	
	
	}

	.article6 p {
		font-family: "Verdana" Helvetica, Times;
		color: #383838;
		font-size: 14px;
		margin-left: 10px;
	
	
	}

	.article6  a {
	
		text-decoration: none;
		float: right;
		width: 90px;
		margin-bottom: 5px;
		font-family: "Bebas Neue" Helvetica, Times;
		color: red;
		font-size: 19px;
	}
	
	.option1 {
		
		width: 225px;
		height: 300px;
		margin-right: 40px;
		margin-left: 20px;
		margin-top: 20px;
		background-color: whtie;
		float: left;
		border-top: 1px solid grey;
		border-right: 1px solid grey;
		border-bottom: 1px solid grey;
		border-left: 1px solid grey;
		background-color: white;
		box-shadow: -1px 50px 50px #888888;
		
		
		
		
	}
	
	
	ul li.price {
		color:red;
	}
	
	.option1 li {
		
		text-align: center;
		list-style-type: none;
		margin-bottom: 10px;
		color: #383838;
		font-size: 25px;
		font-family: "Bebas Neue" Helvetica, Times;
		margin-right: 37px;
		margin-top: 0px;
		padding-top: 10px;
 
	}
	
	
	.option2 {
		
		width: 225px;
		height: 300px;
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		float: left;
		clear:right;
		border-top: 1px solid grey;
		border-right: 1px solid grey;
		border-bottom: 1px solid grey;
		border-left: 1px solid grey;
		background-color: white;
		box-shadow: -1px 50px 50px #888888;
		
		
		
		
	}
	
	.option2 li {
		
		text-align: center;
		list-style-type: none;
		margin-bottom: 10px;
		color: #383838;
		font-size: 20px;
		font-family: "Bebas Neue" Helvetica, Times;
		margin-right: 37px;
		margin-top:10px;
		padding-top: 10px;
	}
	
	.option3 {
		width: 225px;
		height: 300px;
		margin-top: 0px;
		margin-right: 20px;
		margin-left: 20px;
		background-color: whtie;
		float: left;
		clear: right;
		border-top: 1px solid grey;
		border-right: 1px solid grey;
		border-bottom: 1px solid grey;
		border-left: 1px solid grey;
		background-color: white;
		box-shadow: -1px 50px 50px #888888;
		
		
		
		
	}
	
	.option3 li {
		
		text-align: center;
		list-style-type: none;
		margin-bottom: 20px;
		color: #383838;
		font-size: 25px;
		font-family: "Bebas Neue" Helvetica, Times;
		margin-right: 37px;
		margin-top: 10px;
		padding-top: 10px;
		clear: right;
	}
	
	.ban {
		
		position: relative;
		top:50px;
		right: 30px;
	}
	
	.ban2 {
		
		position: relative;
		top:29px;
		right: 22px;
	}
	
	.ban3 {
		
		position: relative;
		top:75px;
		left: 210px;
	}
	
	
	.button {
		
		position: relative;
		top:290px;
		left: 19px;
		z-index: 9;
	}
	
	.button2 {
		
		position: relative;
		bottom:50px;
		right: 200px;
		z-index: 9;
	}
	
	.button3 {
		
		position: relative;
		bottom:170px;
		left: 65px;
		z-index: 9;
	}
	
	.button4 {
		
		position: relative;
		bottom:550px;
		right: 250px;
		z-index: 9;
		 
	}
	
	.pri {
		
		position: relative;
		left: 180px;
		bottom:455px;
		z-index: 9;
		
		
	}
	
	.video {
		
		position: relative;
		left: 0px;
		bottom:800px;
		z-index: 9;
list-style-type: none;	
}

.video li {
	
	color: #cccccc;
	padding-bottom: 10px;
	font-size: 22px;
	font-family: "Bebas " Helvetica, Times;
	
	
}

 .newbottom {
	
	position: relative;
	right: 88px;
	bottom:0px
}

.table {
	
	width: 100%;
	margin-left: 5px;
	
}

 th {
	
	width: 200px;
	height: 40px;
	padding:0  20px;
	background-color: white;
	
}
 .type {
	color: red;
	font-size: 25px;
	font-family: "Bebas" Helvetica, Times;
	
}

tr {
	
	background-color: white;
	font-size: 25px;
	font-family: "Bebas" Helvetica, Times;
}

.odd {
	
	background-color: grey;
	
}

.bye {
	
	background-color: red;
}

.top {
	
	color: red;
	font-size: 25px;
	
}

td img {
	
	margin-top: 2px;
	margin-right: 8px;
}

td  {
	
padding: 8px;	
}
 .title1 {
	 text-align: center;
	 margin: 10px 0;
}

 .title2 {
	 text-align: center;
	 margin: 10px 0;
	 
}

.schedule2 {
	
	width: 100%;
	margin-left: 5px;
	
	
}

.option1a {



width: 200px;
height: 270px;
margin-right: 20px;
margin-left: 40px;
margin-top: 20px;
background-color: whtie;
float: left;
border-top: 1px solid grey;
border-right: 1px solid grey;
border-bottom: 1px solid grey;
border-left: 1px solid grey;
box-shadow: -1px 50px 50px #888888;
background:url("../images/polo1.png") no-repeat;
background-position: center bottom;
background-color: white;




}	

.option2a {



width: 200px;
height: 270px;
margin-right: 20px;
margin-left: 60px;
margin-top: 20px;
float: left;
border-top: 1px solid grey;
border-right: 1px solid grey;
border-bottom: 1px solid grey;
border-left: 1px solid grey;
box-shadow: -1px 50px 50px #888888;
clear: right;
background:url("../images/tshirt.png") no-repeat;
background-color: white;

background-position: center bottom;




}

.option3a {



width: 200px;
height: 270px;
margin-right: 20px;
margin-left: 40px;
margin-top: 20px;
margin-top: 20px;
margin-bottom: 20px;
background-color: whtie;
float: left;
border-top: 1px solid grey;
border-right: 1px solid grey;
border-bottom: 1px solid grey;
border-left: 1px solid grey;
box-shadow: -1px 50px 50px #888888;
background:url("../images/hats.png") no-repeat;
background-position: center bottom;
background-color: white;




}


.shopper {
	position: relative;
	left: 50px;
	top: -200px;
	margin: 0 0;
	padding: 0 0;
	height: auto;
}

.corner {
	
	position: relative;
	left: 165px;
	top: 172px;
}

.corner2 {
	
	position: relative;
	left: 185px;
	top: 95px;
}

.corner3 {
	
	position: relative;
	left: 165px;
	top: 95px;
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
	
   	 /*---------------------------Beginning of slider------------------------*/
	
	
                   
	}
	.slider a {
		text-decoration: none;
		color: black;
	} 
	.slider {
		height: 400px;
		width: 820px;
		border-radius: 20px 
		overflow: hidden;
		margin: 210px 5px
		padding-botto: 100p
	    
	
			-webkit-box-shadow: 2px 2px 8px rgba (0,0,0,0.5);
			box-shadow: 2px 2px 8px rgba (0,0,0,0.5);
	}
	.panel {
		width: 400px;
		height: auto;
		margin: 0 0;
		padding: 0 0 ;
		background: transparent;
		float: left;
		overflow: hidden;
		position: relative;
		top: -180px;
		left: 20px;
		display: inline;
		
	
	
  
	  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
	  -moz-transition: color 0.5s ease, background-color 0.5s ease;
	  -o-transition: color 0.5s ease, background-color 0.5s ease;
	  -ms-transition: color 0.5s ease, background-color 0.5s ease;
	  transition: color 0.5s ease, background-color 0.5s ease;



                                                         
	}
	.panel {
		font: bold 35px/1.5 "Bebas Neue", Verdana, Sans-serif;
		width: 400px;
		font-size: 40px;
		color: red;
		
	
	} 
	 p .panel {
		font: 200 11px/1.5 Helvetica, Verdana, sans-serif;
		width: 150px;
		margin: 0 auto;
		color: green;
	}
	
	 .subline {
		
		color: #383838;
		font:  25px/1.5 "Bebas Neue", Verdana, Sans-serif;
		position: relative;
		top: -195px;
		left: 20px;
		float: left;
		z-index: 9;
		
		
		
		
	} 
	
	
	.backcolor {
		position: relative;
		top: -325px;
		left: 16px;
		float: left;
		display: block;
		background-color: gray;
		width: 515px;
		height: 120px;
		opacity: 0.5;
		z-index: 8;
		
		
	}
	.panel:hover  {
		background-color: gray ; /*for old browsers*/
		background:                  
		color: black;
	} 
	.slider {
		height: 500px;
		width: 100%;
		background: url("../images/clothes.jpg") , url("../images/hatslider.png"), url("../images/womenslider.jpg") , url("../images/robotslide.jpg");               
		background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0px;
		background-repeat: no-repeat;
		overflow: hidden;
		margin: 2px auto;
		padding-top: 10px;
	
    
	                
	
		-webkit-animation: slider 25s infinite;
		  -moz-animation: slider 25s infinite;
		  -ms-animation: slider 25s infinite;
		  -o-animation: slider 25s infinite;
		  animation: slider 25s infinite;

		  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
		  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	} 
                    
		@keyframes "slider" {
		 0% {
		    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
		 }
		 23% {
		    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
		 }
		 33% {
		    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
		 }
		 56% {
		    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
		 }
		 66% {
		    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
		 }
		 90% {
		    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
		 }
		 100% {
		    background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
		 }





 
		
	}

	@-moz-keyframes slider {
	 0% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 20% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 33% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 56% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 66% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 90% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 100% {
	   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
	 }

	}

	@keyframes "slider" {
	 0% {
	    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 23% {
	    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 33% {
	    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 56% {
	    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 66% {
	    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 90% {
	    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 100% {
	    background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
	 }

	} 

	@-moz-keyframes slider {
	 0% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 20% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 33% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 56% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 66% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 90% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 100% {
	   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
	 }

	}

	@-moz-keyframes slider {
	 0% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 20% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 33% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 56% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 66% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 90% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 100% {
	   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
	 }

	}

	@-webkit-keyframes "slider" {
	 0% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 20% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 33% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 56% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 66% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 90% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 100% {
	   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
	 }

	}


	@-ms-keyframes "slider" {
	 0% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 20% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 33% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 56% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 66% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 90% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 100% {
	   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
	 }

	}

	@-o-keyframes "slider" {
	 0% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 20% {
	   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
	 }
	 33% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 56% {
	   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
	 }
	 66% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 90% {
	   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
	 }
	 100% {
	   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
	 }

	 
	 /*---------------------------end of slider------------------------*/
	 
	 
 .nike  {
	 	
		 width: 500px;
		 float: right;
		 clear: left;
		 margin-left: 29px;
		 background:url("../images/nikejersey.png");
	 }
